.bloque-texto-b i:last-of-type
  vertical-align: middle

$azulClarito: #47a0e6
$azulOscuro: #0f2771
$pmedio: #BDD0FB33

$gradiente1: $azulClarito 0%, $azulOscuro 100%
@mixin gradient($direction, $list)
  background: -webkit-linear-gradient($direction, $list)
  background: -moz-linear-gradient($direction, $list)
  background: -o-linear-gradient($direction, $list)
  background: linear-gradient($direction, $list)

.g1
  @include gradient(180deg, $gradiente1)

.fondo-purpura-clarito
  background-color: #7D6EB20D

.fondo-purpura-medio
  background-color: #BDD0FB33

.bloque-bicolor-ac
  background-color: #BDD0FB
  &::before
    background-color: #F3F9FFF2
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 50%
  
.fondo-azul-clarito
  background-color: #57DBD826 !important

.fondo-cyan
  background-color: #91B3Fa40 !important

.fondo-rojizo-clarito
  background-color: #FE706240 !important

.fondo-casi-blanco
  background-color: #f6f6f6 !important

.tfilathin
  width: 8.5em !important

.titulo-segundo-cab
  &:after
    content: ''
    display: block
    height: 3px
    width: 140px
    border-left: solid 50px $color-acento-botones !important
    background-color: #e8e8e8

.cab-color
  color: $color-acento-botones !important

._93px
  width: 93px !important
  height: auto

._4060
  th
    width: 40%
  td
    width: 60%

.tarjeta-avatar-tr
  display: flex
  img
    min-width: 60px
    max-width: 60px
    position: relative

.transparent1
  border-top: 1px solid #afafaf
  border-bottom: 1px solid #afafaf
  border-radius: 0 !important
.transparent2
  border-bottom: 1px solid #afafaf
  border-radius: 0 !important

.bloque-texto-cac
  &::before
    background-color: #57DBD840 !important

.borde-cab
  border-color: #FE7062 !important
  background-color: #fe7062 !important
  border-bottom: 2px solid #FE7062 !important

.fc-pmedio
  background-color: $azulOscuro
  width: 100%
  height: 100%
  top: 0
  left: 1rem
  display: block
  position: relative

.lista-ol--circulo li
  display: flex


.lista-ol--circulo__vineta
  background-color: #FE7062
  display: inline-block
  min-width: 3.8rem
  height: 3.8rem
  color: #fff
  position: relative
  margin-right: 1.3rem
  border-radius: 1.8rem
  span
    position: absolute
    font-size: 2rem
    font-weight: 900
    min-width: 100%
    transform-origin: center
    text-align: center !important
    top: 10%
  li
    position: relative
    top: .8rem

.tablaAzul thead
  background-color: $color-acento-contenido
  font-size: 20px

.header
  a
    color: $color-sistema-texto !important

.banner-principal__img
  transform: scale(1.2)